.ui-widget {
    font-family: $base-font;
    font-size: 1.3rem;
}

.view-menu {
  font-family: $base-font;

  .views-row {
    border-bottom: .1em solid #e1e1e1;
    clear: both;
    padding: 7px 0;

    .views-field-title {
      float: left;
      font-weight: bold;
      font-size: 1.1em;
    }

    .views-field-field-price {
      float: right;
      font-size: 1.2em;
    }

    .views-field-field-description {
      clear:both;
      color: $dark;
      font-family: $base-font;
      font-size: 1.2em;
      font-style: italic;
      max-width: 80%;
      padding-left: .5em;
    }
  }
}

.view-grouping-header {

  line-height: 1;
  text-align: center;
  font-family: inherit;

  .term-name {
    font-family: $base-font;
    padding: 10px;
    text-transform: uppercase;
  }

  .term-description {
    font-family: $base-font;
    font-style: italic;
  }
}
.view-grouping-content {

  .term-name {
    font-family: $base-font;
    font-size: 1.6em;
    font-weight: bold;
    padding: 20px 0;
    text-transform: uppercase;
  }

  .term-description {
    font-family: $base-font;
    font-style: italic;
  }
}


  .ui-accordion-content.ui-widget-content {
    border:none;
  }

  .ui-accordion .ui-accordion-content {
    padding: 0em .5em;
    font-size: .95em;
  }

  .ui-accordion-header.ui-state-active {
    border: none;

    background-image: none;
    font-weight: 400;
    color: $color-3;
  }

  .ui-accordion-header.ui-state-default {
    border: none;
    background: $white;
    background-image: none;
    font-weight: 400;
    color: $color-3;
  }

  .ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br {
    border-radius: 0 !important;
  }

  .ui-corner-all, .ui-corner-bottom, .ui-corner-left, .ui-corner-bl {
    border-radius: 0 !important;
  }

