

.mb-style-1 blockquote{
  clear: both;
	background: #fff;
	padding: 10px;
	border-radius: 5px;
	box-shadow:
		inset 0 2px 0 $color-3,
		-5px -4px 25px rgba(0, 0, 0, 0.3);
}
.node__content {
  p.mb-author {
    margin-bottom: 0;
    text-align: right;
  }
}

.mb-style-1 blockquote:after,
.mb-style-1 blockquote:before  {
	top: 100%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.mb-style-1 blockquote:after  {
	border-top-color: #ffffff;
	border-width: 10px;
	left: 65%;
	margin-left: -10px;
}

.mb-style-1 blockquote:before {
	border-top-color: $color-3;
	border-width: 11px;
	left: 65%;
	margin-left: -11px;
}
.mb-style-1 blockquote p {
	font-size: 24px;
	color: #b4b4b4;
	font-weight: 400;
	line-height: 40px;
	font-style: italic;
	text-indent: 100px;
	position: relative;
	font-family: cursive;
	margin-bottom: 0;
}
.mb-style-1 blockquote p:before{
	content: '\201C';
	font-family: serif;
	font-style: normal;
	font-weight: 100;
	position: absolute;
	font-size: 175px;
	top: 0px;
	left: -105px;
	color: $color-3;
	text-shadow: 7px 14px 10px rgba(0, 0, 0, 0.1);
}
.mb-style-1 .mb-attribution {
	text-align: right;
	//position: relative;

}

.mb-style-1 .mb-author{
	font-weight: 100;
}

.mb-style-1 cite a{
	font-weight: 100;
	font-style: italic;
	color: $color-3;
}

.mb-style-1 cite a:hover{
	color: $color-1;
	text-shadow: 0 1px 1px rgba(255,255,255,0.7);
}
