.page-image {
  img {
    width: 100%;
  }
}
.node__content {
  line-height: 2;
  font-size: 1.2rem;

   h1,h2,h3,h4,h5 {
    color: $color-2;
    font-family: $header-font;
    margin-bottom: 5px;
    margin-top: 20px;
    text-transform: uppercase;
    font-weight: 100;
  }

  a:link {
    color: $color-2;
  }
  a:visited {
    color: $color-2;
  }
  a:hover {
    color: $color-1;
  }
  a:active {
    color: $color-2;
  }

  p {

    font-weight: 300;
    margin-bottom: 1em;
  }

  .field--name-body {
    padding: 10px;

    @include breakpoint(600px, true) {
      padding: 30px 60px;
    }

    ol {
      list-style: square;
      margin: 20px 40px;
      font-weight: 300;
    }
    ul {
      list-style: square;
      margin: 5px 40px 20px;
      font-weight: 300;
    }
    li {
      list-style: square;
      margin: 5px 40px 20px;
      font-weight: 300;
    }
  }

  .body-title-wrapper {
    position: relative;

    h1 {
      background: $shade;
      padding: 5px 10px;
      @include breakpoint(700px, true) {
        position: absolute;
        top: 70%;
      }

    }
  }

  img {
    border: 10px solid $shade;
    margin-bottom: 10px;
  }
}