#block-views-programs-block {
  .views-row {
    clear:both;
    overflow: hidden;
    margin-bottom: 20px;
    padding-bottom: 20px;

  }
  .block__title {
    font-size: 3em;
    font-weight: 100;
    color: $color-2;
    padding: 20px 0;
    @include breakpoint(800px, true) {
      font-size: 4vw;

    }
  }
  .views-field-body {
    padding: 20px;
  }
  .views-field-field-link {
    a {
      font-weight: 100;
      color: $color-2;
      background: $white;
      font-size: 1.4rem;
      margin-left: 20px;
      margin-top: 10px;
      padding: 5px;
      display: inline-block;
      border: 1px solid $color-2;
      &:hover {
        color:$white;
        background: $color-2;
      }
      @include breakpoint(800px, true) {
        font-size: 1.6rem;
      }
    }
  }

  .views-field-title {
    font-weight: 100;
    color: $color-3;
    font-size: 1.8em;
    @include breakpoint(800px, true) {
      font-size: 2.2rem;
    }
    a {
      font-weight: 100;
      color: $color-3;
      font-size: 1.8rem;
      @include breakpoint(800px, true) {
        font-size: 2.2rem;
      }
    }
  }
}