// Buttons
a.simpleButton {
  background: #007dc3;
  clear: both;
  color: #ffffff;
  display: inline-block;
  margin: 5px 0;
  overflow: hidden;
  padding: 17px;
  text-align: center;

  &:hover {
    background: #003060;
  }
}

.buttonOneCol {

  a {
    background: #007dc3;
    color: #ffffff;
    display: block;
    margin: 5px;
    padding: 15px;
    text-align: left;
    text-decoration: none;

    &:hover {
      background: #003060;
    }
  }
}

.buttonTwoCol {
  @include breakpoint($small, true){
    display: flex;
    justify-content: space-between;
  }

  a {
    @include breakpoint($small, true){
      width: 49%;
    }
    background: #007dc3;
    color: #ffffff;
    display: block;
    margin: 5px;
    padding: 15px;
    text-align: left;
    text-decoration: none;


    &:hover {
      background: #003060;
    }
  }
}

.buttonThreeCol {
  @include breakpoint($med-smallest, true){
    display: flex;
    justify-content: space-between;
  }

  a {
    @include breakpoint($med-smallest, true){
      width: 32%;
    }
    background: #007dc3;
    color: #ffffff;
    display: block;
    margin: 5px;
    padding: 15px;
    text-align: left;
    text-decoration: none;

    &:hover {
      background: #003060;
    }
  }
}